body {
    margin: 0px auto;
}
.header-content{
    background: #3162a5;
    background: -webkit-linear-gradient(#4f7490, #3795db); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4f7490, #3795db); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4f7490, #3795db);/* For Firefox 3.6 to 15 */
    background: linear-gradient(#4f7490, #3795db); /* Standard syntax */
    color: #ffffff;
} 

.section-content{
    margin: 20px 20px;
}


.jq-ry-container {
  position: relative;
  line-height: 0;
  display: block;
  cursor: pointer;
  padding:0;
  
}
.emptyRow{
    padding: 8px;
}
.fa-icon {
    font-size: 1.5em;
    margin: 5px 5px;
    padding: 1px;
}
.fa-icon:hover{
    color: #02280a;
    cursor: pointer;
}
.box{
    width: 100%;
    height: 100%;
}
div.container {
        width: 80%;
    }
